<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<!-- 欢迎首页 显示时按顺序从第一个找起，如果第一个存在，就显示第一个，后面的不起作用。如果第一个不存在，就找第二个，以此类推 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- servlet配置 -->
	<servlet>
		<servlet-name>servlet_first</servlet-name>
		<servlet-class>com.1024zoo.servlet.first</servlet-class>
		<init-param>
			<param-name>userName</param-name>
			<param-value>Raul</param-value>
		</init-param>
		<init-param>
			<param-name>E-mail</param-name>
			<param-value>125485762@qq.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet_first</servlet-name>
		<url-pattern>/first</url-pattern>
	</servlet-mapping>
	<!-- 指定错误处理页面，可以通过“异常类型”或“错误码”来指定错误处理页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<!-- 设置过滤器：比如设置一个编码过滤器，过滤所有资源 -->
	<!-- <filter>
		<filter-name>CharaSetFilter</filter-name>
		<filter-class>com.1024zoo.filter.CharSetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharaSetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	<!-- 设置会话(Session)过期时间，其中时间以分钟为单位，假如设置60分钟超时 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
</web-app>
